html {
  background-image: url('laptop_background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

body {
  align-items: center;
  text-align: center;
}

div {
  margin-top: 40px;
}

img {
  width: 225px;
  height: 225px;
}

p, h1 {
  font-family: 'Source Serif Pro', serif;
}

footer {
  color: #242424;
  text-align: center;
}

mark {
  background-color: #ffffff;
  color: #000000;
}

#mobile {
  display: none;
}

@media (max-width: 700px) {
  #mobile {display: block}
  #desktop {display: none;}
}

#ipad {
  margin-top: 200px;
}

@media (max-width: 1200px) {
  #ipad{margin-top: 100px;}
}
