html {
  background-image: url('images/lt_skyscrapers_background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  user-select: none;
}

body {
  align-items: center;
  text-align: center;
}

div {
  margin-top: 80px;
}

img {
  width: 225px;
  height: 225px;
}

p {
  font-family: proxima-nova, sans-serif;
  font-style: normal;
  font-weight: 100;
}

h1 {
  font-family: proxima-nova, sans-serif;
  font-style: italic;
  font-weight: 300;
  font-size: 15px;
  text-align: left;
  color: #FFFFFF;
  margin-bottom: -27px;
}

footer {
  color: #242424;
  text-align: center;
}

mark {
  background-color: #FFFFFF;
  color: #000000;
}

#mobile {display:none;}
@media (max-width: 700px) {
  #mobile {display:block}
  #desktop {display:none;}
}

#ipad {margin-top: 200px;}
@media (max-width: 1200px) {
  #ipad{margin-top: 100px;}
}
